<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2V9L_s89aYeKHf1ZmXNwXdZhU8WEfoDI</string>
	<key>GCM_SENDER_ID</key>
	<string>1069743090321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.edu.iitepic.damGaleriaFotosEventos</string>
	<key>PROJECT_ID</key>
	<string>planeador-eventos-ittepic</string>
	<key>STORAGE_BUCKET</key>
	<string>planeador-eventos-ittepic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069743090321:ios:1f183ca45bdeaf02c06d30</string>
</dict>
</plist>